:root {
    --grey-default: #a0a0a0;
    --light-default: #ffffff;
}

body {
    display:flex;
    flex-flow: column wrap;

    border-width: 2px;
    border-color: blue;
    border-style: solid;
}

.content {
    display: flex;
}

.easel {
    display: flex;
    flex: 0 1 0;
    flex-flow: column wrap;
    
    border-width: 2px;
    border-color: red;
    border-style: solid;
    
}

.flex-row {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.cell {
    flex: 1 0 0;
    height: auto;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    min-width: 10px;
}

.cell::before {
    content:'';
    float: left;
    padding-top: 100%;
    display: table;
}

.btnContainer {
    display: flex;
    flex-flow: column wrap;
}

.currentMode {
    background-color: var(--grey-default);
    color: var(--light-default);
}

.btnContainer, button {
    border-radius: 5px;
    gap: 30px;
}

#custom-container {
    display: flex;
    flex: 1 0 100%;
    flex-flow: row nowrap;

}

#customBtn {
    flex: 1 0 67%;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    display:flex;
    flex: 0 1 auto;
    height: 2em;
    margin-left: 0.5em;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-default);
    text-decoration: none;
}

.github-icon {
    height: 2em;
}

.footer a:hover {
    transform: scale(1.1);
}