body {
    display:flex;
    flex-flow: column wrap;

    border-width: 2px;
    border-color: blue;
    border-style: solid;
}

.content {
    display: flex;
}

.easel {
    display: flex;
    flex: 0 1 0;
    flex-flow: column wrap;
    
    border-width: 2px;
    border-color: red;
    border-style: solid;
    
}

.flex-row {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.cell {
    flex: 1 0 0;
    height: auto;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    min-width: 10px;
}

.cell::before {
    content:'';
    float: left;
    padding-top: 100%;
    display: table;
}

.btnContainer {
    display: flex;
    flex-flow: column wrap;
}

.currentMode {
    background-color: grey;
}

.btnContainer, button {
    border-radius: 5px;
}